.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%; 
    height: 100vh;
    justify-content: center;
    background-color: #050a30;
}

.oblong-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 2% 4%; 
    border: none;
    background-color: #f4f6fc;
    color: black;
    border-radius: 30px;
    font-size: 1.5vw; 
    font-weight: bold;
}
