.home-container {
    bottom: 10px;
    right: 10px;
    width: 70%;  
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin: auto;
  }
  .home-container  h2{
      align-items: center;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      color: white;
      margin-bottom: 25px;
      margin-top: 26px;
      text-transform: uppercase;
  }
  .home-container h3, p{
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      color: #a5ff93;
      margin-bottom: 25px;
      margin-top: 26px;
      text-transform: uppercase;
  }
  .center {
      align-items: center;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      color: white;
  }
  